<form [formGroup]="formGroup">
  <div class="container">
    <h3>Buscar Destinatario </h3>
    <mat-form-field appearance="fill">
      <mat-label>Rut (sin puntos ni guión, ej: 123456789)</mat-label>
      <input matInput formControlName="rut" [value]="formGroup.get('rut').value | rut" maxlength="14">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Correo</mat-label>
      <input matInput formControlName="email"  maxlength="50">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono" maxlength="11">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" maxlength="100">
    </mat-form-field>

    


    <mat-form-field appearance="fill">
      <mat-label>Banco </mat-label>
      <mat-select formControlName="banco">
        <mat-option *ngFor="let bank of bancos" [value]="bank.id">{{bank.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tipo de Cuenta </mat-label>
      <mat-select formControlName="tipo_cuenta">
        <mat-option value="1">Cuenta Corriente</mat-option>
        <mat-option value="2">Cuenta Vista</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>N° de Cuenta</mat-label>
      <input matInput formControlName="numero_cuenta" maxlength="20">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Monto a transferir</mat-label>
      <input matInput formControlName="monto" maxlength="20">
    </mat-form-field>

    <div class="container-button">
      <div *ngIf="spinner">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="!spinner">
        <button mat-raised-button color="primary" class="align_button" (click)="buscarDestinatario()">Buscar</button>
        <button mat-raised-button color="primary" [disabled]="!isActiveToTransfer" class="align_button2"
          (click)="enviarTransferencia()">Transferir</button>
      </div>
    </div>
  </div>

</form>