:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.container{
    margin-left:2%;
    max-width: 800px;
}  

.container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .container .mat-form-field {
    width: 220px;
  }
  
  .container form {
    margin-bottom: 20px;
  }
  
  .container form > * {
    margin: 5px 0;
  }
  
  .container-button{
    margin-left: 65%;
  }

